body {
  font-family: "Inter", sans-serif;
}

.header-container {
  background-color: #f55a5a;
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.travel-globe {
  color: white;
  height: 30px;
  display: flex;
  align-self: center;
}

.header-text {
  color: white;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-self: center;
  font-size: large;
}
.title-container {
  display: flex;
  gap: 10px;
  padding: 20px 20px;
}

.title-image {
 height: 300px;
 width: 300px;
 border-radius: 5%;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.date {
  display: flex;
  gap: 10px;
}

.location {
  font-weight: 400 normal;
}

.title {
  font-weight: 700 bold;
}

.top-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
